// Mixins in here

.displayFlex(@justify, @align) {
    display: flex;
    justify-content: @justify;
    align-items: @align;
}

.btn-main(@width, @padding) {
    border-radius: 8px;
    background-color: @button-bg;
    color: @white;
    width: @width;
    height: 45px;
    font-size: 1.8rem;
    text-align: center;
    padding: @padding;
}